*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--background-color: #e7ebfa;
	--foreground-color: #141875;
	--accent-color: #2b2d63;
	--alt-color: #2b2d63;

	--bar-width: 60px;
	--bar-height: 8px;
	--hamburger-gap: 6px;
}

body {
	margin: 0;
}

#navbar {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    align-items: center;
}

.fixed-links {
	display: none;
}

/* -------------- */
/* Hamburger Menu */
/* -------------- */

/* __Hamburger icon__ */
.hamburger-icon {
	margin: var(--hamburger-gap) auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--hamburger-gap);
	align-items: center;
	cursor: pointer;
}

.hamburger-icon::before,
.hamburger-icon::after,
.hamburger-icon input {
	content: "";
	width: var(--bar-width);
	height: var(--bar-height);
	background-color: var(--foreground-color);
	border-radius: 999px;
}

.hamburger-icon input {
	appearance: none;
	margin: 0;
	padding: 0;
	outline: none;
	pointer-events: none;
}

.hamburger-icon input:checked {
	background-color: red;
}