@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background-color: #e7ebfa;
  --foreground-color: #141875;
  --accent-color: #0400ff;
  --alt-color: #e29837;

  --animation-timing: 0.2s ease-in-out;

  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --navbar-height: calc(var(--hamburger-height) + var(--hamburger-gap) * 2);
}

/* ----------------------- */
/*     Global elements     */
/* ----------------------- */

h2 {
  font-size: 2.5em;
  margin: 0.5em 0;
}

h3 {
  font-size: 1.6em;
  margin: 0.5em 0;
}

a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 800;
}

a:hover,
a:focus-visible {
  outline: none;
  text-decoration: underline;
  color: var(--alt-color);
  transition:
    box-shadow var(--animation-timing),
    background-color var(--animation-timing);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

strong {
  color: var(--accent-color);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

/* -------------- */
/*     Navbar     */
/* -------------- */

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--background-color);
  box-shadow: 0 0 20px var(--accent-color);
  align-items: center;
}

/* __Hamburger icon__ */
.hamburger-icon {
  margin: var(--hamburger-gap) auto;
  width: var(--bar-width);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  cursor: pointer;
}

.hamburger-icon::before,
.hamburger-icon::after,
.hamburger-icon input {
  --diagonal-length: calc(var(--hamburger-height) * 1.414);
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground-color);
  border-radius: 999px;
  transition: var(--animation-timing);
  transform-origin: left center;
}

.hamburger-icon input {
  appearance: none;
  margin: 0;
  padding: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-icon input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-icon:has(input:checked)::before {
  rotate: 45deg;
  width: var(--diagonal-length);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-icon:has(input:checked)::after {
  rotate: -45deg;
  width: var(--diagonal-length);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-icon:has(input:focus-visible)::before,
.hamburger-icon:has(input:focus-visible)::after,
.hamburger-icon input:focus-visible {
  border: 2px solid var(--background-color);
  box-shadow: 0 0 0 3px var(--foreground-color);
}

/* __Navbar links - GENERAL__ */

.navlinks-container {
  margin: 0;
  padding: 0.5em;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.navlinks-container li,
.navlinks-container a:any-link {
  padding: 0;
  list-style: none;
  font-weight: 600;
}

/* __Navbar links - small device__ */

.fixed-links {
  display: none;
}

.mobile-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: var(--foreground-color);
  box-shadow: inset 0 0 40px var(--background-color);
  translate: 0 -150%;
  transition: translate var(--animation-timing);
}

.mobile-links a:any-link {
  color: var(--background-color);
  padding: 0.5em 1em;
}

.hamburger-icon:has(input:checked) + .mobile-links {
  translate: 0;
}

/* __Navbar - big device__ */
@media screen and (min-width: 768px) {
  .hamburger-icon,
  .mobile-links {
    display: none;
  }

  .fixed-links {
    margin: auto;
    display: flex;
    height: var(--navbar-height);
    max-width: 1200px;
    justify-content: space-evenly;
    background-color: var(--background-color);
  }

  .fixed-links a:any-link {
    color: var(--foreground-color);
    padding: 0.5em 1em;
  }

  .fixed-links a:any-link:hover,
  .fixed-links a:any-link:focus-visible {
    color: var(--background-color);
    background-color: var(--foreground-color);
  }
}

/* -------------- */
/*     Content    */
/* -------------- */

main {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  background-color: white;
}

section {
  /* margin-bottom: 2rem; */
  padding: 2em;
}

section::after {
  content: "";
  display: block;
  margin: 4rem auto 0;
  width: 85%;
  height: 2px;
  background-color: var(--accent-color);
}

.top-banner {
  margin-top: calc(var(--navbar-height));
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* __About Me__ */

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2.2em;
}

.column {
  max-width: 40ch;
  flex: 1 0 20ch;
}

.column > h3 {
  justify-self: center;
  text-align: center;
}

.column > p {
  margin-bottom: 0;
  text-align: justify;
  text-wrap: wrap;
  line-height: 1.2em;
  font-size: 1.2em;
}

section#about::after{
  display: none;
}

.catchphrase {
  display: block;
  width: 100%;
  padding: 1em;
  font-size: 2em;
  text-align: center;
  font-style: italic;
  font-weight: 600;
  color: #141875;
  background-color: #e7ebfa;
  box-shadow: inset 0 0 40px 10px #141875;
  border-radius: 5px;
}

/* __Projects__ */
.cardholder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26ch, 1fr));
  gap: 2em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em;
  background-color: var(--background-color);
  box-shadow: 0 0 15px var(--accent-color);
  border-radius: 10px;
}

.card > p {
  text-align: justify;
  text-wrap: wrap;
}

.card > a {
  width: 100%;
  max-width: 26ch;
  align-self: center;
  margin-top: auto;
  text-align: center;
  padding: 0.5em 1em;
  background-color: var(--foreground-color);
  color: var(--background-color);
  font-weight: 600;
  border-radius: 10px;
}
.card > a:hover,
.card > a:focus-visible {
  background-color: var(--alt-color);
  box-shadow: 0 0 20px #e29837;
}

/* __Contact__ */
/* icons */
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 26;
  margin-bottom: 0.5em;
}

#contact img {
  height: 2em;
}

/* __Contact - small devices__ */

section#contact::after {
  display: none;
}

.contact-container {
  margin-top: 3em;
  display: flex;
  flex: 1 0 100%;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2em;
}

.contact-item {
  height: 5em;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-bottom: 1px solid var(--accent-color);
}

.contact-item > a:has(img) {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.contact-item:has(a:focus-visible),
.contact-item:has(a:hover) {
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 6px 15px var(--alt-color);
}

/* Contact - medium-big devices */
@media screen and (min-width: 440px) {
  section#contact::after {
    content: "";
    display: block;
    width: 85%;
    height: 2px;
    background-color: var(--accent-color);
    margin: 4rem auto 0;
  }

  .contact-item {
    height: 5em;
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
  }
}
